#au-control {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  position: relative;
  bottom: 65px;

}
#ring-group {
	position: absolute;
	top: 100;
}
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	opacity: 50%;
	background-color: black;
	color: white;
	position: absolute;
	z-index: 10;
}
.loaded {
	display: none;

}