
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: black;

}

#svg-daylight {
	z-index: -1;
	animation: svg-bgcolors 1440s infinite;
	
}


@keyframes svg-bgcolors {
	0% {fill: #D6D6E8; } /* December */
	8.3% {fill: #D6D6E8; } /* January */
	16.6% {fill: #D6D6E8; } /* February */
	25% { fill: #CEE0F3;} /* March */
	34.3% { fill: #CEE0F3; } /* April*/
	42.6% { fill: #FEF9E5 } /* May */
	51% { fill: #FEF9E5 } /* June */
	59.3% { fill: #FBE7D9 } /* July */
	67.6% { fill: #FBE7D9 } /* August */
	76% { fill: #FEF9E5 } /* September */
	84.3% { fill: #E4F1ED } /* October */
	92.6% { fill: #CEE0F3; } /* November */
	100% { fill: #D6D6E8; } /* December */
}
#firmament{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
}
#play-bar {
  position: absolute;
  top: 48vw;
  left: 0;
  right: 0;
  
} 



#au-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#audio {
	opacity: 60%;
	color: ghostwhite;
  position: absolute;
  width: 100%;
  top: 87vh;  
}
#audio {
	opacity: 90%;
	color: white;
	background-color: black;
  
}


.loading { /* 'Load Screen' properties. */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	opacity: 50%;
	background-color: black;
	color: white;
	position: absolute;
	z-index: 10;
}
.loaded {
	display: none;

}


/* handle hide/show for birds and poems*/
.hidden {
	display: none;
	visibility: hidden; 
}
.showing {
	display: inline-block;
	visibility: visible;
}

/* applied with animation and timeout to create drift effect on birds */
.drift {
	transform: translate(3vw, -2vh);
}

/* Rules for bird appearance and size */
.residence-Resident {
	display: inline-block;
	visibility: visible;
}
.residence-Resident img {
	opacity: 70%;
}
.residence-Migrant img {
	/* These are changed on load */
	opacity: 0%;
	width: 0px;
}

 .size-XS img {
	width: 20;
}
 .size-S img {
	width: 25;
}
 .size-M img {
	width: 30;
}
 .size-L img {
	width: 35;
}
 .size-XL img {
	width: 40;
}

/* Mouseover data  */
.tooltip {
  position: absolute;
  display: inline-block;
}
.poem-marker{
	color: #2B4A5E;
  font-family: "Annie Use Your Telescope", cursive; 
  font-weight: 400;
  font-size: 14pt;
  font-style: normal;
  cursor: default;
}
.darkness {
	display: inline-block;
	visibility: visible;
	
}
.darkness .poem-marker{
	color: silver;

}

.tooltip .tooltiptext {
  visibility: hidden;
  font-family: "Cormorant Infant", sans-serif;
  font-weight: normal;
  width: fit-content;
  max-width: 600px;
  min-width: 300px;
  background-color: #222222;
  opacity: 60%;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 0);
}
.left-edge .tooltiptext {
	transform: translate(-10%, 0);
}
.right-edge .tooltiptext {
	transform: translate(-90%, 0);
}
.bottom-edge .tooltiptext {
	transform: translate(-50%, -200%);
}
.bottom-left-edge .tooltiptext {
	transform: translate(-10%, -200%);
}
.bottom-right-edge .tooltiptext {
	transform: translate(-90%, -200%);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.left-edge .tooltiptext::after {
	left: 10%;
}
.right-edge .tooltiptext::after {
	left: 90%;
}
.bottom-edge .tooltiptext::after {
	bottom: 0%;
	top: 100%;
	border-color: black transparent transparent transparent;
}
.bottom-left-edge .tooltiptext::after {
	left: 10%;
  bottom: 0%;
  top: 100%;
  border-color: black transparent transparent transparent;
}
.bottom-right-edge .tooltiptext::after {
	left: 90%;
  bottom: 0%;
  top: 100%;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltiptext-line {
	text-wrap: nowrap;
	white-space: nowrap;
}
.scientificName {
	font-style: italic;
}

/* probably redundant but still in use for loading/loaded */
.hide {
	visibility: hidden;
	display: none;
}
.show {
	visibility: visible;
	display: flex;
}